html {
  background: black;
  color: #fff;
  font-family: vga8;
  line-height: 16px;
  font-size: 16px;
}

#sokoboo-logo {
  height: 160px;
  margin: auto;
  display: block;
}

#navigation {
  font-family: ibmconv;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 0 0 20px white;

  margin-top: 1em;
  margin-bottom: 4em;

  ul {
    display: inline;
    list-style: none;
  }

  li {
    display: inline;
    margin-right: 3em;
  }

  a, a:visited, a:hover {
    color: white;
    text-decoration: none;

    .page-play &.navigation-play,
    .page-highscores &.navigation-highscores,
    .page-register-score &.navigation-register-score {
      color: yellow;
    }
  }
}
