html {
  background: black;
  color: #fff;
  font-family: vga8;
  line-height: 16px;
  font-size: 16px;
}

#sokoboo-logo {
  width: 640px;
  display: block;
  margin: auto;

  img  {
    height: 140px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
}

.player-icon, .clock-icon {
  background-size: contain;
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.player-icon {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
}

.clock-icon {
  width: 11px;
  height: 11px;
  vertical-align: center;
}

#navigation {
  font-family: ibmconv;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 0 0 20px white;

  margin-top: 2em;
  margin-bottom: 4em;

  ul {
    display: inline;
    list-style: none;
  }

  li {
    display: inline;
    margin-right: 3em;
  }

  a, a:visited, a:hover {
    color: white;
    text-decoration: none;

    .page-play &.navigation-play,
    .page-highscores &.navigation-highscores,
    .page-register-score &.navigation-register-score {
      color: yellow;
    }
  }
}

.http-error-message {
  font-family: ibmconv;
  margin-top: 5em;
  text-align: center;
  color: red;
}
