#form-code {
  width: 30em;
  margin: auto;
  margin-top: 6em;
  font-family: ibmconv;
  line-height: 3em;

  label {
    display: block;
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    width: 20em;

    &, &:focus {
      border: none;
      border-radius: 0;
      outline: none;
      box-shadow: none;
      border-bottom: 2px solid white;

      &:invalid {
        background-color: rgba(255, 0, 0, 0.3);
        box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.7);
      }
    }
  }

  button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;

    border: none;
    color: white;
    font-family: ibmconv;
    font-size: inherit;
    padding: 0.5em;
    background: #444;
    box-shadow: #444 0 0 30px 0.5em;
    margin-top: 2em;
    cursor: pointer;
    margin-left: -0.5em;

    &:hover {
      background: darkred;
      box-shadow: darkred 0 0 30px 0.5em;
    }
  }
}

.status-message {
  text-align: center;
  font-family: ibmconv;
  margin-top: 5em;

  &.error {
    color: red;
  }
}
