<!DOCTYPE html>
<html>
<head>
    <title>Sokoboo Scores</title>
    <meta charset="UTF-8">

    {% for file in encore_entry_css_files('app') %}
        <link rel="stylesheet" href="{{ asset(file) }}">
    {% endfor %}
</head>
<body>

<img src="{{ asset('images/logo.png') }}" alt="Sokoboo!"/>

<div id="react-root"></div>

{% for file in encore_entry_js_files('app') %}
    <script src="{{ asset(file) }}"></script>
{% endfor %}

</body>
</html>

