<!DOCTYPE html>
<html>
    <head>
        <title>Sokoboo Scores</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Happy scrappy sokoboo highscore page</h1>
    </body>
</html>

